version: "3.9"

services:
  rabbitmq:
    image: rabbitmq:3.12-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
      - "15692:15692"
    environment:
      RABBITMQ_DEFAULT_USER: "${RABBITMQ_USER}"
      RABBITMQ_DEFAULT_PASS: "${RABBITMQ_PASS}"
    command: >
      sh -c "rabbitmq-plugins enable --offline rabbitmq_prometheus && rabbitmq-server"
    networks:
      - app_network

  postgres:
    image: postgres:15
    container_name: notification_db
    environment:
      POSTGRES_DB: "${POSTGRES_DB}"
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
    ports:
      - "5432:5432"
    networks:
      - app_network
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build:
      context: .
      dockerfile: docker/production/php/Dockerfile
    container_name: notification_app
    ports:
      - "9000:9000"
    volumes:
      - ./:/var/www/html
    networks:
      - app_network
    depends_on:
      - rabbitmq
      - postgres

  consumer:
    build:
      context: .
      dockerfile: docker/production/php/Dockerfile
    container_name: notification_consumer
    working_dir: /app
    command: php bin/console messenger:consume async -vv
    volumes:
      - .:/app
    networks:
      - app_network
    depends_on:
      - rabbitmq
    restart: always


  mailhog:
    image: mailhog/mailhog
    container_name: mailhog_prod
    ports:
      - "1025:1025"
      - "8025:8025"
    networks:
      - app_network

  # ---------------- MONITORING ----------------


  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./docker/production/monitoring/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    networks:
      - app_network
    depends_on:
      - node_exporter
    restart: always

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    networks:
      - app_network
    depends_on:
      - prometheus
    restart: always

  node_exporter:
    image: prom/node-exporter:latest
    container_name: node_exporter
    ports:
      - "9100:9100"
    networks:
      - app_network
    restart: always

volumes:
  db_data:
  grafana_data:

networks:
  app_network:
    driver: bridge
