version: "3.9"

services:
  rabbitmq:
    image: rabbitmq:3.12-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: "${RABBITMQ_USER}"
      RABBITMQ_DEFAULT_PASS: "${RABBITMQ_PASS}"
    networks:
      - app_network

  postgres:
    image: postgres:15
    container_name: notification_db
    environment:
      POSTGRES_DB: "${POSTGRES_DB}"
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
    ports:
      - "5432:5432"
    networks:
      - app_network
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build:
      context: .
      dockerfile: docker/local/php/Dockerfile
    container_name: notification_app
    working_dir: /app
    ports:
      - "9000:9000"
    volumes:
      - .:/app
    networks:
      - app_network
    depends_on:
      - rabbitmq
      - postgres

  frontend:
    image: nginx:1.25
    container_name: notification_nginx
    ports:
      - "8080:80"
    volumes:
      - .:/app
      - ./docker/local/nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - app_network
    depends_on:
      - backend

  consumer:
    build:
      context: .
      dockerfile: docker/local/php/Dockerfile
    container_name: notification_consumer
    working_dir: /app
    command: >
      php bin/console messenger:consume async -vv
    volumes:
      - .:/app
    depends_on:
      - rabbitmq
    networks:
      - app_network
    restart: always

  mailhog:
    image: mailhog/mailhog
    container_name: notification_mailhog
    ports:
      - "1025:1025"
      - "8025:8025"
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  db_data:
