version: "3.9"

services:
  rabbitmq:
    image: rabbitmq:3.12-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: "${RABBITMQ_USER}"
      RABBITMQ_DEFAULT_PASS: "${RABBITMQ_PASS}"
    networks:
      - app_network

  postgres:
    image: postgres:15
    container_name: notification_db
    environment:
      POSTGRES_DB: "${POSTGRES_DB}"
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
    ports:
      - "5432:5432"
    networks:
      - app_network
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: notification_app
    working_dir: /app
    volumes:
      - .:/app
    networks:
      - app_network
    depends_on:
      - rabbitmq
      - postgres
    ports:
      - "8000:9000"

  consumer:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: notification_consumer
    working_dir: /app
    command: >
      php bin/console messenger:consume async -vv
    volumes:
      - .:/app
    depends_on:
      - rabbitmq
    networks:
      - app_network
    restart: always

networks:
  app_network:
    driver: bridge

volumes:
  db_data:
